<section style="text-align:center;">
    <form action="/login" method="post">
        <input type='text' name="username" />
        <input type="password" name='password' />
        <button type="submit" value="Submit">Submit</button>
    </form>
</section>